.feature-box {
    transition: background-color 0.3s;
    position: relative;
}
.feature-box::before, .feature-box::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-radius: 0.25rem;
    border: 2px solid transparent;
}
.feature-box::before {
    left: -2px;
    top: -2px;
}
.feature-box::after {
    right: -2px;
    bottom: -2px;
}
.feature-box:hover {
    background-color: rgba(130, 253, 132, 0.1);
}
.feature-box:hover::before, .feature-box:hover::after {
    width: calc(100% + 4px);
    height: calc(100% + 4px);
}
.feature-box:hover::before {
    transition: width 0.2s linear, height 0.2s linear 0.2s;
    border-top-color: #2aaf2c;
    border-right-color: #2aaf2c;
}
.feature-box:hover::after {
    transition: width 0.2s linear 0.4s, height 0.2s linear 0.6s;
    border-bottom-color: #2aaf2c;
    border-left-color: #2aaf2c;
}
